.header-background {
    background: #3399ff;
    height: 40px;
    width: 100%;
    position: fixed;
    top: 0px;
    line-height: 40px;
  }

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.container {
    display: block;
    width: 80%;
    margin: 0 auto;
  }
article {
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.comments {
    background: #fff;
    padding-left: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.comment-form {
    margin-top: 20px;
}
.comment-form input, .comment-form textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.comment-form button {
    background: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.comment-form button:hover {
    background: #555;
}
.comment {
    margin-top: 20px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.name-font {
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
}
